@import '../../../styles/variables.scss';
.logo {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

.primary {
  color: $primary-60;

  &__dark {
    color: $primary-90;
  }
}

.secondary {
  color: $primary-40;

  &__dark {
    color: $primary-50;
  }
}

.small {
  font-size: 1.5rem;
}

.medium {
  font-size: 2rem;
}

.large {
  font-size: 3rem;
}
