@use '../../styles/variables' as *;

.category {
  display: flex;
  margin: 2rem 0;
  gap: 2rem;

  &__title {
    font-weight: $text-bold;
    margin-bottom: 1rem;
  }

  &__left {
    min-width: 250px;
  }
}
