.product__gallery {
  &__image__active {
    min-height: 220px;
    overflow: hidden;
    border-radius: 16px;

    &__item {
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }

  &__image__list {
    margin-top: 0.8rem;
    gap: 1rem;
    height: auto;
    display: flex;
    justify-content: start;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    &__container {
      overflow: hidden;
      border-radius: 8px;
      width: 100px;
    }

    &__item {
      width: 100%;
      object-fit: contain;
    }
  }
}
