.product__gallery {
  &__image__active {
    min-height: 300px;
    height: 100%;
    width: 100%;
  }

  &__image__list {
    margin-top: 0.8rem;
    gap: 1rem;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    &__item {
      border-radius: 1px;
      width: 70px;
      display: inline-block;
      flex-shrink: 0;
      cursor: pointer;
    }
  }
}
