@use 'src/styles/variables' as *;
.cart__page {
  h5 {
    font-size: 2.5rem;
    margin: 1.8rem 0;
    font-weight: $text-bold;
  }

  &__empty {
    margin-top: 2rem;
    flex-direction: column;
    box-shadow: none !important;
    text-align: center;
    width: 100%;
    height: 100%;
    align-items: center;

    &__image {
      height: 400px;
      width: 400px;
      img {
        width: 400px;
        height: 400px;
      }
    }
  }
}
