$primary-100: #002c3c;
$primary-90: #005271;
$primary-80: #0078a5;
$primary-70: #0098d2;
$primary-60: #00adef;
$primary-50: #80d6f7;
$primary-40: #a0e1f9;
$primary-30: #c0ebfb;
$primary-20: #e0f5fd;
$primary-10: #f0fafe;

$text-bold: 600;
$text-medium: 500;
$text-regular: 400;
$text-light: 300;
