@use './../../../styles/variables.scss' as *;

.slider {
  position: relative;

  &:hover {
    .slider__arrow {
      opacity: 100%;
    }
  }

  &__arrow {
    font-weight: $text-bold;
    opacity: 0;
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  &__right {
    right: 0;
  }
}
