@use '../../../../styles/variables' as *;
.card__login {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  line-height: 2rem;
  padding: 2rem;
  width: 100%;
  margin-top: 1rem;
  a {
    color: $primary-70;
    font-size: 1rem;
    text-decoration: none;
  }
  h6 {
    font-size: 2.5rem;
    font-weight: $text-bold;
    color: $primary-100;
    margin-bottom: 2rem;
  }

  &__bottom {
    text-align: center;
    p {
      color: $gray;
    }

    .divider {
      color: $gray;
      font-weight: $text-regular;
    }
  }
}
